<mat-sidenav-container>

  <mat-sidenav #menu >
    <app-menu-list
      (menuToggle)="menu.toggle()"
      (signOut)="onSignout()"
      [isAuthorized]="isAuthorized$ | async"></app-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      (menuToggle)="menu.toggle()"
      (signOut)="onSignout()"
      [user]="user$ | async"
      [isAuthorized]="isAuthorized$ | async" ></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- <button (click)="onToggleSpinner()" > Toggle Spinner </button>

<app-spinner *ngIf="showSpinner" ></app-spinner>

<button appFilesUpload [multiple]="true" (changed)="onFilesChanged($event)" > Subir imagenes al servidor </button>

<button (click)="onSuccess()" > Mesnaje Exito </button>
<button (click)="onError()" > Mesnaje Error </button> -->
