<mat-nav-list>
  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" >
    <mat-icon>home</mat-icon>
    <span class="navegation-list-label" routerLink="/" >Home</span>
  </a>

  <a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="auth/login" >
    <mat-icon>login</mat-icon>
    <span class="navegation-list-label" >Inicio Secion</span>
  </a>

  <a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="auth/registration" >
    <mat-icon>how_to_register</mat-icon>
    <span class="navegation-list-label" >Registrar</span>
  </a>

  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" >
    <mat-icon>contact_support</mat-icon>
    <span class="navegation-list-label" >Contacto</span>
  </a>

  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="/builder/new" >
    <mat-icon>add</mat-icon>
    <span class="navegation-list-label" >Nuevo Inmueble</span>
  </a>

  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="/builder/list" >
    <mat-icon>add</mat-icon>
    <span class="navegation-list-label" >Inmuebles</span>
  </a>

  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" (click)="onSignOut()" >
    <mat-icon>logout</mat-icon>
    <span class="navegation-list-label" >Cerrar Sesion</span>
  </a>

</mat-nav-list>
